html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.container {
  margin: auto;
  width: 1200px;
  padding: 0px 15px 0px 15px;
}
.our-work > .container > h2,
.our-team > .container > h2,
.regular-customers > .container > h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color_black;
  margin: 0px 0px 50px 0px;
}