.navigation-contacts {
  align-self: center;
  margin-left: auto;
  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $color_grey;
    &:hover {
      color: $color_blue;
    }
  }
  .header-contacts {
    display: flex;
    flex-direction: row;
    a {
      position: relative;
      align-self: center;
      padding-top: 32px;
      padding-bottom: 32px;
      transition: $transition_all;
    }
    > li + li {
      margin-left: 30px;
    }
    svg {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}
